body{
    background-image: url(hatter.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: #504033;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    margin-right: 250px;
    margin-left: 250px;
    row-gap: 1.5px;
}

.keret{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
}

h1, h2{
    text-align: center;
    font-size: xx-large;
    text-decoration: underline;
}

p{
    text-indent: 25px;
}

.emlek{
    width: 150px;
    float: left;
    margin-right: 15px;
    border: solid 15px;
    border-style: ridge;
    border-color: #504033;
}

.paprika{
    height: 300px;
    float: left;
}

li{
    list-style-image: url(dot.png);
    font-style: italic;
}
hr{
    height: 5px;
    width: 90%;
    background-color: #504033;
    box-shadow: black 2px 2px 2px;
}